.products-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 10px;
}

.products-container {
  box-sizing: border-box;
  border: 1px solid white;
  box-shadow: 10px 10px 2px 1px whitesmoke;
  position: relative;
  bottom: 0;
  height: 600px;
  padding: 10px;
  background-color: whites;
}

.product-img {
  width: 270px;

  /* height: 200px; */
}

.product-description {
  /* border: 3px solid green; */
  position: absolute;
  bottom: 0px;
  width: 90%;
}
.add-btn {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  background-color: yellow;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 20px;

  margin: auto;
  margin-bottom: 10px;
}

.rating-div {
  display: flex;
  margin-bottom: 0;
  padding: 0px;
  /* border: 1px solid red; */
  height: 30px;
}
.rating {
  margin-bottom: 0;
}

.review-el {
  margin-left: 10px;

  font-size: 25px;
  color: rgb(61, 149, 190);
}
.selector {
  font-size: 20px;
  border: none;
  border-radius: 10px;
  margin-left: 5px;
  margin-bottom: 40px;
  padding: 5px 10px;
  margin-top: 5px;

  background: whitesmoke;
}

.description-el,
.price-el {
  font-size: 22px;

  margin-bottom: 0.5em;
  margin: 0;
}
.price-el {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}
