body {
  margin: 0;
}

.page-title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 15px;
}

.review-order {
  text-align: center;
  font-size: 30px;
  /* margin-bottom: 20px; */
  margin: 20px 0;
}

.checkout-total-items,
.checkout-total-items-label {
  color: rgb(32, 165, 218);
}

.payment-summary-title {
  text-align: center;
  font-size: 25px;
}

.total-row {
  color: red;
  font-weight: bold;
  margin: 0;
  border-top: 1px solid rgb(200, 199, 199);
  padding: 20px;
}

.place-order-button {
  background-color: yellow;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.link-primary {
  margin-left: 5px;
  color: rgb(32, 165, 218);
  cursor: pointer;
}

.checkout-grid {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 67% 28%;
  gap: 20px;
  /* border: 3px solid green; */
  margin-left: 20px;
}

.cart-item-section {
  /* border: 3px solid blue; */
  padding: 10px;
}
.cart-item-container {
  /* border: 3px solid tomato; */
  /* margin: 40px; */
  box-shadow: 2px 2px 2px 5px lightgray;
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 10px;
}

.payment-summary {
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  height: 350px;
  box-shadow: 2px 2px 2px 2px lightgray;
}
.payment-summary-row {
  display: flex;
  margin: 5px;
  justify-content: space-between;
  margin: 15px;
}

/* .payment-summary-money {
  border: 1px solid blue;
} */

.delivery-option {
  /* border: 1px solid red; */
  display: flex;
}

.delivery-option-date {
  color: green;
}

.delivery-option-input {
  padding: 10px;
  margin: 10px;
}

input[type="radio"] {
  transform: scale(2);
}
.delivery-date {
  font-size: 25px;
  margin: 5px 0;
  color: green;
}

.delivery-option-price {
  margin-bottom: 5px;
  color: rgb(156, 151, 151);
}

.cart-item-details-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 5px;
  font-size: 30px;
}

.cart-item-details {
  /* border: blue 2px solid; */
  margin-left: 5px;
  padding-left: 5px;
  font-size: 20px;
}

/* PRODUCT */
.product-name {
  font-weight: bold;
  margin-bottom: 5px;
}
.product-image {
  height: 200px;
  /* border: 1px solid green; */
}

.product-price,
.product-quantity {
  font-size: 20px;
  margin-bottom: 5px;
}

.product-quantity {
  /* display: grid;
  grid-template-columns: repeat(60, 3fr);

  border: 2px solid red;
  padding: 0; */
  display: flex;
}

.quantity-input {
  width: 30px;
  display: none;
}

.save-quantity-link {
  display: none;
}

.is-editing-quantity .update-quantity-link {
  display: none;
}
.is-editing-quantity .quantity-input {
  display: initial;
}
.is-editing-quantity .save-quantity-link {
  display: initial;
}

.is-editing-quantity .quantity-label {
  display: none;
}

/* .update-container {
  display: flex;
  width: 70px;
} */

.product-price {
  color: red;
}

.edit-div {
  display: none;
}

.update-input-style {
  display: flex;
}

.update-quantity-link {
  margin-right: 3px;
}
/* DELIVERY */
.delivery-options {
  /* border: 2px solid blue; */
  margin-left: 5px;
  padding-left: 5px;
  font-size: 22px;
}

.delivery-options-title {
  font-weight: bold;
}

/*  CHECKOUT HEADER */
.checkout-header {
  /* border: 2px solid red; */
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
}

/* .checkout-header-img {
  font-size: 15px;
  border: 3px solid green;
} */

.checkout-img {
  height: 2rem;
  /* border: 2px solid green; */
  /* margin-left: 15px; */
  margin-top: 15px;
}
.link-to-home-page {
  height: 100%;
  margin-left: 30px;
  /* border: 3px solid red; */
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding-left: 0;
}

.checkout-quantity {
  font-size: 2em;
}

.lock-icon {
  margin-right: 15px;
}

@media (max-width: 1250px) {
  .product-image {
    height: 200px;
  }

  .product-quantity {
    display: flex;
    font-size: 18px;
  }

  .product-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .delivery-options-title {
    font-weight: bold;
    font-size: 18px;
  }

  .delivery-option-price {
    margin-bottom: 5px;
    color: rgb(156, 151, 151);
  }

  .payment-summary-title {
    text-align: center;
    font-size: 25px;
  }

  .total-row {
    color: red;
    font-weight: bold;
    margin: 0;
    border-top: 1px solid rgb(200, 199, 199);
    padding: 20px;
  }

  .place-order-button {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
  }
}
@media (max-width: 1200px) {
  .product-image {
    height: 100px;
    width: 150px;
  }
}
@media (max-width: 1194px) {
  .product-image {
    height: 170px;
  }

  .product-quantity {
    display: flex;
    font-size: 17px;
  }

  .product-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .delivery-option-date {
    font-size: 18px;
  }
  .delivery-options-title {
    font-weight: bold;
    font-size: 18px;
  }
  .delivery-option-price {
    font-size: 18px;
  }
}
@media (min-width: 990px) and (max-width: 1080px) {
  .product-image {
    height: 170px;
  }

  .product-name {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 17px;
  }

  .product-quantity {
    display: flex;
    font-size: 17px;
  }

  .product-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .delivery-options-title {
    font-weight: bold;
    font-size: 16px;
  }
  .delivery-option-date {
    font-size: 18px;
  }
  .delivery-option-price {
    font-size: 17px;
  }

  .payment-summary-title {
    font-size: 20px;
  }
  .payment-summary-row {
    font-size: 18px;
  }

  input[type="radio"] {
    transform: scale(2);
  }
  .total-row {
    margin: 5px;
    padding: 15px;
  }

  .place-order-button {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    /* color: blue; */
    margin-top: 20px;
  }
}
@media (min-width: 750px) and (max-width: 990px) {
  .product-image {
    height: 130px;
  }

  .product-name {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px;
  }

  .product-quantity {
    display: flex;
    flex-direction: column;
    font-size: 17px;
  }

  .product-name {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .delivery-date {
    font-size: 20px;
  }

  .delivery-options-title {
    font-weight: bold;
    font-size: 15px;
  }
  .delivery-option-date {
    font-size: 12px;
  }
  .delivery-option-price {
    font-size: 15px;
  }

  .payment-summary-title,
  .payment-summary-row {
    font-size: 17px;
  }
  /*
  .link-primary {
   margin-left: 5px;
  color: rgb(32, 165, 218);
  cursor: pointer; 
    
    color: red;
  }*/
  .delete-quantity-link,
  .update-quantity-link {
    font-size: 15px;
  }

  input[type="radio"] {
    transform: scale(1.5);
  }

  /* .cart-item-details-grid {
     display: grid;
    grid-template-columns: repeat(3, 1fr); 
    display: flex;
    gap: 10px;
    padding: 5px;
    font-size: 20px;
  } */
}
@media (min-width: 640px) and (max-width: 750px) {
  .product-image {
    height: 120px;
  }

  .product-name {
    font-weight: bold;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 17px;
  }

  .delivery-date {
    font-size: 15px;
    /* margin: 5px 0;
  color: green; */
  }

  .delivery-options-title {
    font-weight: bold;
    font-size: 12px;
  }
  .delivery-option-date {
    font-size: 13px;
  }
  .delivery-option-price {
    font-size: 13px;
  }
  .payment-summary {
    padding: 0;
  }

  .payment-summary-row {
    font-size: 17px;
    /* padding: 5px; */
  }

  .delete-quantity-link,
  .update-quantity-link,
  .quantity {
    font-size: 17px;
  }

  .product-quantity {
    display: grid;
    grid-template-columns: 1fr;
  }

  input[type="radio"] {
    transform: scale(1);
  }

  .total-row {
    margin: 5px;
    padding: 15px;
  }

  .place-order-button {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 15px;
  }
}

@media (min-width: 414px) and (max-width: 640px) {
  .delivery-date {
    font-size: 17px;
  }
  .cart-item-details-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-image {
    height: 130px;
    align-items: center;
  }

  .product-name {
    font-weight: bold;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 17px;
  }

  .cart-item-details-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  input[type="radio"] {
    transform: scale(1.5);
  }
  .product-quantity {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
  }

  .payment-summary {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: left;
    box-sizing: border-box;
  }

  .payment-summary-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
  }

  .payment-summary-row {
    font-size: 13px;

    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }

  .payment-summary-money {
    display: flex;
    flex-direction: row;

    font-size: 13px;
    width: 50%;
  }
  .total-row {
    padding: 0;
    padding-left: 0;
    margin-left: 0;
    font-size: 13px;
  }
  .place-order-button {
    font-size: 13px;
    margin-top: 30px;
  }
}

@media (min-width: 360px) and (max-width: 414px) {
  .cart-item-details-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-image {
    height: 100px;
    align-items: center;
  }

  .product-name {
    font-weight: bold;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 17px;
  }

  .delivery-options {
    float: right;
  }

  .delivery-date {
    text-align: center;
    font-size: 15px;
  }
  .payment-summary {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: left;
    box-sizing: border-box;
  }

  .payment-summary-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
  }

  .payment-summary-row {
    font-size: 13px;

    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }

  .payment-summary-money {
    display: flex;
    flex-direction: row;

    font-size: 13px;
    width: 50%;
  }
  .total-row {
    padding: 0;
    padding-left: 0;
    margin-left: 0;
    font-size: 13px;
  }
  .place-order-button {
    font-size: 13px;
    margin-top: 15px;
  }

  input[type="radio"] {
    transform: scale(1.5);
  }
}

@media (min-width: 10px) and (max-width: 360px) {
  .cart-item-details-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-image {
    height: 100px;
    align-items: center;
  }

  .product-name {
    font-weight: bold;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 17px;
  }

  .delivery-options {
    float: right;
  }

  .delivery-date {
    text-align: center;
    font-size: 15px;
  }
  .payment-summary {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: left;
    box-sizing: border-box;
  }

  .payment-summary-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
  }

  .payment-summary-row {
    font-size: 13px;

    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }

  .payment-summary-money {
    display: flex;
    flex-direction: row;

    font-size: 13px;
    width: 50%;
  }
  .total-row {
    padding: 0;
    padding-left: 0;
    margin-left: 0;
    font-size: 13px;
  }
  .place-order-button {
    font-size: 13px;
    margin-top: 15px;
  }

  input[type="radio"] {
    transform: scale(1.5);
  }
}
