body {
  margin: 0;
}
.review-order {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.payment-summary-title {
  text-align: center;
  font-size: 25px;
}

.total-row {
  color: red;
  font-weight: bold;
  margin: 0;
  border-top: 1px solid rgb(200, 199, 199);
  padding: 20px;
}

.place-order-button {
  background-color: yellow;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.link-primary {
  margin-left: 5px;
  color: rgb(32, 165, 218);
}
.checkout-grid {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 67% 28%;
  gap: 20px;
  border: 3px solid green;
  margin-left: 20px;
}

.cart-item-section {
  border: 3px solid blue;
  padding: 5px;
}
.cart-item-container {
  /* border: 3px solid tomato; */
  /* margin: 40px; */
  box-shadow: 2px 2px 2px 2px lightgray;
  margin-bottom: 30px;
  border-radius: 20px;
}

.payment-summary {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  height: 350px;
  box-shadow: 2px 2px 2px 2px lightgray;
}
.payment-summary-row {
  display: flex;
  margin: 5px;
  justify-content: space-between;
  margin: 15px;
}

/* .payment-summary-money {
  border: 1px solid blue;
} */

.delivery-option {
  /* border: 1px solid red; */
  display: flex;
}

.delivery-option-date {
  color: green;
}
.delivery-option-input {
  padding: 10px;
  margin: 10px;
}

input[type="radio"] {
  transform: scale(2);
}
.delivery-date {
  font-size: 25px;
  margin: 5px 0;
  color: green;
}

.delivery-option-price {
  margin-bottom: 5px;
  color: rgb(156, 151, 151);
}

.cart-item-details-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 5px;
  font-size: 30px;
}

.cart-item-details {
  /* border: blue 2px solid; */
  margin-left: 5px;
  padding-left: 5px;
  font-size: 20px;
}

/* PRODUCT */
.product-name {
  font-weight: bold;
  margin-bottom: 5px;
}
.product-image {
  height: 250px;
  /* border: 1px solid green; */
}

.product-price,
.product-quantity {
  font-size: 20px;
  margin-bottom: 5px;
}

/* DELIVERY */
.delivery-options {
  /* border: 2px solid blue; */
  margin-left: 5px;
  padding-left: 5px;
  font-size: 22px;
}

.delivery-options-title {
  font-weight: bold;
}

/*  CHECKOUT HEADER */
.checkout-header {
  /* border: 2px solid red; */
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
}

/* .checkout-header-img {
  font-size: 15px;
  border: 3px solid green;
} */

.checkout-img {
  height: 2rem;
  /* border: 2px solid green; */
  margin-left: 15px;
}

.checkout-quantity {
  font-size: 2em;
}

.lock-icon {
  margin-right: 15px;
}
